.body {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.titulo {
    margin-bottom: 40px;
}

.contenedor-targetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.targeta-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    text-align: center;
    width: 250px;
    height: 120px;
    border-radius: 25px;
}

.targeta-dashboard.amarillo {
    background-color: var(--color-amarillo);
}

.targeta-dashboard.verde {
    background-color: var(--color-verde);
}

.targeta-dashboard.celeste {
    background-color: var(--color-celeste);
}

.targeta-dashboard.naranja {
    background-color: var(--color-naranja);
}