.body {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    width: 100%;
}

.contenedore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0px;
    color: red;
}

/* tabla */
table {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
}

.tabla-responsiva {
    width: 100%;
    overflow-x: auto;
    display: block;
    -webkit-overflow-scrolling: touch;
}

table th {
    background-color: #4e62a3;
    color: var(--color-primario-texto);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th,
td {
    white-space: nowrap;
    border: 1px solid #6e6e6e;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

table ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    text-align: left;
}

@media (max-width: 600px) {
    .body {
        padding: 20px 0px;
    }
}