.body {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    width: 100%;
}

.contenedore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.contenedor-registro-pieza {
    padding: 20px 0px;
    font-size: 18px;
    border-bottom: 1px solid var(--color-separador);
    font-weight: bold;
    max-width: 500px;
}

.contenedor-registro-pieza input {
    padding: 1px;
    font-size: 18px;
    width: 35px;
    text-align: center;
    font-weight: bold;
}

.boton-submit {
    padding: 7px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-boton-comun);
    color: var(--color-primario-texto);
}

.boton-submit:hover {
    cursor: pointer;
    background-color: var(--color-boton-comun-hover);
    transform: scale(1.06);
}

.contenedor-piezas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px;
    border-bottom: 1px solid var(--color-separador);
    max-width: 500px;
}

.grid-habitacion-libre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.grid-habitacion-libre div {
    width: 40px;
    background-color: var(--color-verde);
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}

.grid-habitacion-sucia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.grid-habitacion-sucia div {
    width: 40px;
    background-color: var(--color-naranja);
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}

.contenedor-registro-cliente {
    max-width: 500px;
    padding: 40px 0px;
    border-bottom: 1px solid var(--color-separador);

}

.contenedor-registro-cliente .fila {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.contenedor-registro-cliente .fila label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.contenedor-registro-cliente .fila input {
    padding: 1px;
    width: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* tabla */
.tabla-clientes-dentro {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
}

.tabla-responsiva {
    width: 100%;
    overflow-x: auto;
    display: block;
    -webkit-overflow-scrolling: touch;
}

.tabla-clientes-dentro th {
    background-color: #4e62a3;
    color: var(--color-primario-texto);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.tabla-clientes-dentro th,
td {
    white-space: nowrap;
    border: 1px solid #6e6e6e;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tabla-clientes-dentro tr:hover {
    background-color: #dbe3ff;
}

.boton-tabla {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-boton-comun);
    color: var(--color-primario-texto);
    font-weight: bold;
}

.boton-tabla:hover {
    cursor: pointer;
    background-color: var(--color-boton-comun-hover);
    transform: scale(1.06);
}

.boton-tabla.verde {
    background-color: var(--color-verde);
    color: rgb(37, 37, 37);
}

.boton-tabla.amarillo {
    background-color: var(--color-amarillo);
    color: rgb(37, 37, 37);
}

.boton-tabla-editar {
    display: inline-block;
    background-color: var(--color-amarillo);
    color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 14px;
    padding: 4px 2px;
    border-radius: 10px;
}

.boton-tabla-editar:hover {
    transform: scale(1.06);
}

/* modal */
.mi-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.mi-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.tabla-consumo {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    margin: 20px 0px
}

.tabla-consumo th,
.tabla-consumo td {
    border: 1px solid #6e6e6e;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.tabla-consumo th {
    background-color: #4e62a3;
    color: var(--color-primario-texto);
}


.inputs-consumo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.inputs-consumo input {
    margin-left: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
}

.anadir-consumo {
    padding: 20px 0px;
}

.anadir-consumo .boton-submit {
    margin-top: 10px;
}

.boton-cerrar-modal {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-naranja);
    color: black;
    font-weight: bold;
}

.boton-cerrar-modal:hover {
    cursor: pointer;
    background-color: var(--color-boton-comun-hover);
    transform: scale(1.06);
    color: var(--color-primario-texto);
}



/* modal de salida */
.modal-salida {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: left;
}

.modal-salida h2 {
    color: black;
}

.modal-salida::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.titulo {
    color: var(--color-boton-comun);
    padding: 90px 0px;
}

.titulo-dinero {
    color: rgb(0, 106, 0);
    font-weight: bold;
}

.botones-salida {
    display: flex;
    justify-content: space-between;
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
}

.texto-dinero {
    color: rgb(0, 106, 0);
    font-weight: bold;
}

@media (max-width: 950px) {
    .body {
        padding: 10px;
        overflow-x: hidden;
    }

    .contenedore {
        max-width: 100%;
    }

    .tabla-responsiva {
        overflow-x: auto;
    }


    .contenedor-piezas {
        flex-direction: column;
    }

    .grid-habitacion-libre,
    .grid-habitacion-sucia {
        flex-direction: row;
        justify-content: flex-start;
    }

    .cuadrito {
        margin-left: 10px;
    }

    .tabla-clientes-dentro th,
    td {
        font-size: 16px;
    }

}