@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-primario-texto: white;
    --fuente-principal: 'Poppins';
    --color-primario: #2B375D;
    --color-amarillo: #FBE7B4;
    --color-verde: #CCE8C9;
    --color-celeste: #CCE4F7;
    --color-naranja: #FBD0AF;
    --color-boton-comun: #4e62a3;
    --color-boton-comun-hover: #2B375D;
    --color-separador: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}


/* sidevar: */
h2 {
    color: var(--color-primario-texto);
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

aside {
    color: var(--color-primario-texto);
    background-color: var(--color-primario);
    width: 200px;
    min-width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

aside a {
    text-decoration: none;
    color: var(--color-primario-texto);
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    transition: transform 0.4s ease-out;
}

.sidebar-item a:active {
    color: yellow;
}

.sidebar-item a:hover {
    transform: scale(1.06);
}


.sidebar-item .material-symbols-outlined {
    color: var(--color-primario-texto);
    font-size: 28px;
    padding-right: 15px;
}

.boton-cerrar-sesion {
    background-color: #D9D9D9;
    padding: 5px 5px;
    border-radius: 5px;
    width: 110px;
    color: var(--color-primario);
}

.boton-cerrar-sesion a {
    color: var(--color-primario);
}

/* nav: */
header {
    background-color: var(--color-primario);
    color: var(--color-primario-texto);
    padding: 10px 0px;
}

.header-usuario {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

.usuario {
    display: flex;
    align-items: center;
}

.hamburguesa {
    cursor: pointer;
    transition: transform 0.4s ease-out;
}

.hamburguesa:hover {
    transform: scale(1.3);
}

.contenedor {
    display: flex;
}

aside.activo {
    display: block !important;
}

@media (max-width: 900px) {
    aside {
        display: none !important;
        position: fixed;
        z-index: 1000;
        width: 200px;
        height: 100vh;
    }

    aside.activo {
        display: block !important;
    }
}